.betaIcon {
    display:                inline-block;
    background-color:       #F7F9FD;
    width:                  42px;
    height:                 24px;
    border-radius:          40px;
    font-size:              12px;
}

.betaIconText {
    position:               relative;
    top:                    4px;
    left:                   9px;
    color:                  #272C34
}

.betaIconPopup {
    background-color: #272C34;
}

.betaIconPopupInactive {
    display:                none;
}