.breadcrumbs {
    font-weight:        400 !important;
    font-size:          14px !important;
    line-height:        16px !important;
    color:            #39414D !important;
    margin-bottom:      24px !important;
}

.breadcrumbs a {
    color:            #39414D;
    text-decoration:    none !important;
}

.breadcrumbs a:hover {
    color:            #39414D !important;
    text-decoration:    underline !important;
}

.breadcrumbs a:visited {
    color:            #39414D !important;
}
