.pageTabs {
    border-bottom:      1px solid #39414D;
    padding-bottom:     10px;
    margin-bottom:      32px;
}

.quantityPageTab {
    font-weight:        400;
    font-size:          14px;
    line-height:        20px;
    color:            #67768D;
    padding-left:       8px;
    padding-right:      25px;
}

.quantityPageTab:hover {
    text-decoration:    underline;
}

.countryPageTab {
    font-weight:        400;
    font-size:          14px;
    line-height:        20px;
    color:            #67768D;
    padding-left:       20px;
    padding-right:      9px;
}

.countryPageTab:hover {
    text-decoration:    underline;
}

.quantityPageTab a {
    text-decoration:    none;
    color:              #67768D;
}
.countryPageTab a {
    text-decoration:    none;
    color:              #67768D;
}

.selectedQuantityPageTab {
    border-bottom:      4px solid #39414D;
    padding-left:       8px;
    padding-right:      9px;
    padding-bottom:     8px;
    font-weight:        700;
    font-size:          14px;
    line-height:        20px;
    letter-spacing:     0.01em;
    color:            #39414D;
}

.selectedCountryPageTab {
    border-bottom:      4px solid #39414D;
    padding-left:       10px;
    padding-right:      9px;
    padding-bottom:     8px;
    font-weight:        700;
    font-size:          14px;
    line-height:        20px;
    letter-spacing:     0.01em;
    color:            #39414D;
}

.selectedRegionStatePageTab {
    border-bottom:      4px solid #39414D;
    padding-left:       10px;
    padding-right:      9px;
    padding-bottom:     8px;
    font-weight:        700;
    font-size:          14px;
    line-height:        20px;
    letter-spacing:     0.01em;
    color:            #39414D;
}

.countriesList {
    list-style-type:    none;
    padding:            0px;
    width:              1100px;
}

.countriesList  {
    list-style-type:    none;
    padding:            0px;
    width:              1100px;
}

.port {
    width:              511px;
    height:             160px;
    background:         linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    box-shadow:         0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius:      3px;
    float:              left;
    margin-right:       27px;
    margin-bottom:      32px;
    cursor:             pointer;
    font-weight:        700;
    font-size:          22px;
    color:            white;
    padding-left:       20px;
    padding-top:        75px;
    position:           relative;
}

.portBackground {
    z-index: -1;
}

.portBackground span {
    z-index: -1;
}

.port div {
    cursor:             pointer;
}

.port:hover {
    text-decoration:    underline;
}

.clear {
    clear:              both;
}

.administrativeAreaTitle {
    clear:              both;
    font-weight:        700;
    font-size:          16px;
    line-height:        20px;
    color:            #000000;
}
