
.vesselDetailHeader {
    width:              1045px;
    height:             339px;
    background:       #4B5564;
    display:            flex;
    justify-content:    flex-end;
    flex-direction:     column;
    margin-bottom:      40px;
    position:           relative;
}

.vesselDetailTitle {
    width:              1045px;
    height:             140px;
    color:            white;
    background-image:   linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
    padding-top:        36px;
    padding-left:       19px;
    z-index:            1;
}

.vesselDetailTitle h1 {
    margin:             0;
}

.vesselDetailSubTitle {
    font-weight:        700;
    font-size:          22px;
    line-height:        32px;
    color:            #000000;
    margin-bottom:      24px;
}

.vesselDetailLeft {
    float:              left;
}

.vesselDetailRight {
    float:              right;
}

.vesselDetailRight a {
    font-weight:            400;
    font-size:              14px;
    line-height:            20px;
    text-decoration-line:   underline;
    color:                #566AE5;
}

.vesselDetailSectionTitle {
    font-weight:        700;
    font-size:          16px;
    line-height:        20px;
    color:            #000000;
    margin-bottom:      16px;
}

.vesselDetailFieldName {
    font-weight:        400;
    font-size:          14px;
    line-height:        20px;
    color:            #67768D;
    width:              180px;
    float:              left;
    margin-bottom:      16px;
}

.vesselDetailFieldValue {
    font-weight:        400;
    font-size:          14px;
    line-height:        20px;
    color:            #39414D;
    float:              left;
    margin-bottom:      16px;
}
