@font-face {
    font-family: gt-america;
    src:
      url('../public/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
      url('../public/fonts/GT-America-Standard-Regular.woff') format('woff'),
      url('../public/fonts/GT-America-Standard-Regular.eot') format('embedded-opentype');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }

  @font-face {
    font-family: gt-america;
    src:
      url('../public/fonts/GT-America-Standard-Regular-Italic.woff2') format('woff2'),
      url('../public/fonts/GT-America-Standard-Regular-Italic.woff') format('woff'),
      url('../public/fonts/GT-America-Standard-Regular-Italic.eot') format('embedded-opentype');
    font-display: swap;
    font-style: italic;
    font-weight: 700;
  }

  @font-face {
    font-family: gt-america;
    src:
      url('../public/fonts/GT-America-Standard-Bold.woff2') format('woff2'),
      url('../public/fonts/GT-America-Standard-Bold.woff') format('woff'),
      url('../public/fonts/GT-America-Standard-Bold.eot') format('embedded-opentype');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }

  @font-face {
    font-family: gt-america;
    src:
      url('../public/fonts/GT-America-Extended-Bold.woff2') format('woff2'),
      url('../public/fonts/GT-America-Extended-Bold.woff') format('woff'),
      url('../public/fonts/GT-America-Extended-Bold.eot') format('embedded-opentype');
    font-display: swap;
    font-style: normal;
    font-weight: 800;
  }
