.header {
  color:                white;
  background-color:     #39414D;
  height:                 232px;
}

.wikiTitle {
  text-align:             center;
  padding-top:            60px;
}

.wikiTitleVerticalLine {
  border-left:            1px solid #8A99B1;
  margin-left:            14px;
  margin-right:           14px;
  padding-top:            4px;
  bottom:                 3px;
  position:               relative;
}

.wikiSubTitle {
  position:               relative;
  bottom:                 6px;
  font-size:              18px;
  font-style:             normal;
  font-weight:            700;
  font-size:              20px;
  line-height:            20px;
  letter-spacing:         -0.02em;
  font-feature-settings:  'tnum' on, 'lnum' on;
}

.tagLine {
  margin-top:             24px;
  font-style:             normal;
  font-weight:            700;
  font-size:              32px;
  line-height:            48px;
  text-align:             center;
  letter-spacing:         -0.02em;
  font-feature-settings:  'tnum' on, 'lnum' on;
}

.main {
  width:                  63.10%;
  margin:                 auto;
  padding-top:            3em;
  padding-bottom:         3em;
  display:                flex;
}

.sectionHeading {
  font-style:             normal;
  font-weight:            700;
  font-size:              24px;
  line-height:            32px;
  font-feature-settings:  'tnum' on, 'lnum' on;
  color:                #000000;
}

.grid {
  display:                grid;
  grid-template-columns:  repeat( auto-fill, minmax(220px, 1fr) );
}

.portsSection {
  width:                  100%;
}

.portsLarge {
  float:                  left;
  width:                  75%;
}

.portsSmall {
  float:                  left;
  width:                  25%;
}

.portsCardMajor {
  margin-bottom:          15px;
  padding-left:           1em;
  padding-top:            3.5em;
  text-align:             left;
  text-decoration:        none;
  width:                  243px;
  height:                 98px;
  font-style:             normal;
  font-weight:            700;
  font-size:              16px;
  line-height:            20px;
  font-feature-settings:  'tnum' on, 'lnum' on;
  color:                #272C34;
  background:           #C4C4C4;
  align-content:          center;
}

.portsCardMinor {
  width:                  244px;
  height:                 32px;
  background:           #E8E6E6;
  margin-bottom:          13px;
  padding-top:            8px;
  padding-left:           10px;
  font-style:             normal;
  font-weight:            400;
  font-size:              12px;
  line-height:            16px;
  letter-spacing:         0.01em;
  font-feature-settings:  'tnum' on, 'lnum' on;
  color:                #000000;
}

.allPorts {
  font-style:             normal;
  font-weight:            700;
  font-size:              14px;
  line-height:            20px;
  text-align:             center;
  letter-spacing:         0.01em;
  font-feature-settings:  'tnum' on, 'lnum' on;
  cursor:                 pointer;
}
