.main {
  background-image: url("/images/boat-background.png");
  height:           664px;
  width:            1645px;
  margin:           auto;
  padding-top:      78px;
}

.mainContent {
  width:              1049px;
  margin:             auto;
}

.wikiTitleVerticalLine {
  border-left:            1px solid #C5D2E7;
  margin-left:            11px;
  margin-right:           11px;
  position:               relative;
  top:                    -3px;
  padding-top:            6px;
}

.wikiSubTitle {
  font-size:              18px;
  font-weight:            700;
  font-size:              20px;
  line-height:            20px;
  position:               relative;
  top:                    -7px;
  color:                white;
}

.tagLine {
  font-weight:            700;
  font-size:              32px;
  line-height:            48px;
  letter-spacing:         -0.02em;
  margin-top:             9px;
  color:                white;
}

.portsSection {
  background-color:     white;
  width:                511px;
  height:               256px;
  box-shadow:           0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius:        3px;
  margin-top:           56px;
  padding-left:         23px;
  padding-top:          23px;
}

.portsSection a {
  text-decoration:      none;
}

.portsLink {
  cursor:               pointer;
}

.portsLink:hover {
  text-decoration:      underline;
}

.portsSectionTitle {
  font-weight:          700;
  font-size:            22px;
  line-height:          32px;
  color:              #000000;
  margin-left:          19px;
  position:             relative;
  top:                  -5px;
}

.rightChevron {
  position:             relative;
  top:                  -7px;
  margin-left:          18px;
}

.portCountries {
  margin-top:           17px;
}

.portCountry {
  width:                227px;
  height:               36px;
  color:                #272C34;
  box-shadow:           0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius:        3px;
  float:                left;
  margin-right:         15px;
  margin-bottom:        21px;
  padding-left:         8px;
  font-weight:          400;
  font-size:            14px;
  line-height:          20px;
  display:              flex;
  align-items:          center;
  letter-spacing:       0.01em;
  cursor:               pointer;
}

.portCountry:hover {
  text-decoration:      underline;
  box-shadow:           0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.portCountryText {
  margin-left: 5px;
}

.vesselsAndContainersSection {
  margin-top:           24px;
}

.vesselsSection {
  width:                243px;
  height:               96px;
  box-shadow:           0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius:        3px;
  background-color:   white;
  float:                left;
  font-weight:          700;
  font-size:            20px;
  line-height:          32px;
  color:              #000000;
  display:              flex;
  align-items:          center;
  padding-left:         23px;
  cursor:               pointer;
}

.vesselsSectionTitle {
  margin-left:          20px;
  margin-right:         10px;
}

.vesselsSection:hover {
  text-decoration:      underline;
}

.containersSection {
  width:                243px;
  height:               96px;
  box-shadow:           0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius:        3px;
  background-color:   white;
  float:                left;
  margin-left:          25px;
  font-weight:          700;
  font-size:            20px;
  line-height:          32px;
  color:              #000000;
  display:              flex;
  align-items:          center;
  padding-left:         23px;
}

.containersSectionTitle {
  margin-left:          18px;
  margin-right:         10px;
}
